<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login</title>
</head>
<body>
<main>
    <main>
        {% extends "base.html" %}
        {% block content %}
        <h1 align = "center">Login</h1>
        <form method="Post">
            {% csrf_token %}
            {{form}}
            <button class = "btn-secondary" type="submit">Login</button>
        </form>
        <small>Need an account? <a href = "{% url 'register' %}"> Register </a></small>
        {% endblock content %}
      </main>
<main>
</body>
</html>